# PYTHON DATA STRUCTURE

Q.1.What are data structures, and why are they important ?

Answer - Data structures are a way of organizing and storing data in a computer so that it can be used efficiently. They provide a framework for managing and manipulating data, enabling faster and more organized access, storage, and retrieval. Data structures are fundamental to computer science, impacting the efficiency, performance, and scalability of software and systems.

Q.2. Explain the difference between mutable and immutable data types with examples ?

Answer  - Mutable data types are those whose values can be modified after they are created, while immutable data types are those whose values cannot be modified once created. Understanding the difference between these two types of data is essential for writing efficient and effective code.

Mutable Data Types :

(a)Lists: Lists are ordered collections of items that can be modified by adding,

removing, or changing elements.

(b)Dictionaries: Dictionaries are unordered collections of key-value pairs, where the values can be modified by adding, deleting, or changing key-value pairs.

(c)Sets: Sets are unordered collections of unique elements that can be modified by adding or removing elements.

Immutable Data Types:

(a)Strings: Strings are sequences of characters that cannot be changed once they are created. Any attempt to modify a string will result in a new string object being created.

(b)Tuples: Tuples are ordered sequences of items that cannot be modified once they are created. Like strings, any attempt to modify a tuple will result in a new tuple object being created.

Q.3. What are the main differences between lists and tuples in Python ?

Answer - Here are the main differences between lists and tuples in Python:

(1)Mutability:

(a)Lists
are mutable, meaning their elements can be changed after creation. You can add, remove, or modify elements in a list.

(b)Tuples
are immutable, meaning their elements cannot be changed after creation. Once a tuple is created, its contents are fixed.

(2)Syntax:

(a)Lists are defined using square brackets [].

(b)Tuples are defined using parentheses ().

(3)Performance:

(a)Tuples
are generally faster than lists because they are immutable. Python can optimize their storage and access.

(b)Lists
are slightly slower due to their dynamic nature and the overhead of managing mutability.

Q.4. Describe how dictionaries store data ?

Answer  - With dictionaries, data is stored in a key:value format. In this example, myCar is the variable that we have assigned our dictionary to. "Brand", "Model" and "Year" are the keys, while "Hyundai", "Palisade" and "2020" are the values.

Q.5. Why might you use a set instead of a list in Python ?

Answer  - 1. Uniqueness of Elements :

 * Sets automatically remove duplicates.

 * If you need to store unique items, sets are ideal.

2.Faster Membership Testing:

 * in is faster in sets (O(1) average time) vs lists (O(n)).

3.Set Operations:

 * Sets support mathematical set operations: union, intersection, difference, etc.

4.Cleaner Deduplication:

 * Sets provide a concise way to deduplicate a list.

Q.6. What is a string in Python, and how is it different from a list ?

Answer - In Python, a string is a sequence of characters, while a list is a sequence of items (which can be of any type, including strings, numbers, etc.). Here's a breakdown of the key differences:

(A) What is a string?

* A string is a textual data type made up of Unicode characters.

* Defined using quotes: 'hello' or "hello"

(B) What is a list?

* A list is a mutable sequence of elements, which can be of any type.

* Defined using square brackets [].

Q.7. How do tuples ensure data integrity in Python?

Answer - Tuples ensure data integrity in Python primarily because they are immutable — once created, their contents cannot be changed. This immutability provides several advantages when it comes to ensuring the reliability and consistency of data.

Q.8. What is a hash table, and how does it relate to dictionaries in Python ?

Answer - A hash table is a data structure that allows for efficient storage and retrieval of data using a technique called hashing. It’s essentially a way to implement a key-value store where each key is hashed into an index, which determines where the corresponding value is stored in memory.

* In Python, dictionaries are built on top of hash tables. This means that Python dictionaries (often referred to as dict) provide an efficient way to store and retrieve data based on unique

Q.9. Can lists contain different data types in Python ?

Answer - Yes, lists in Python can contain elements of different data types. This means you can have a single list that holds integers, floats, strings, booleans, and even other lists or dictionaries.

Q.10. Explain why strings are immutable in Python ?

Answer - Here's why strings are designed to be immutable:

(A)Memory Efficiency:
Immutable strings can be efficiently shared and reused. Python can optimize memory usage by pointing multiple variables to the same string object if they have the same value. If strings were mutable, this optimization would not be possible, as changes to one variable would affect all others pointing to the same string.

(B)Data Integrity:
Immutability ensures that the value of a string remains consistent throughout the program. This makes it easier to reason about the code and prevents unexpected side effects. For example, if a function receives a string as an argument, it can rely on the fact that the string will not be modified by other parts of the program.

(C)Security:
Immutable strings prevent malicious users from altering strings that might be used for sensitive data, such as usernames or passwords.

(D)Hashing:
Immutable objects can be used as keys in dictionaries. Since strings are immutable, they can be used as dictionary keys, which allows efficient lookups.

(E)Thread Safety:
Immutable objects are inherently thread-safe. Multiple threads can access the same string object without the risk of data corruption.

Q.11. What advantages do dictionaries offer over lists for certain tasks ?

Answer - Dictionaries and lists are two fundamental data structures in Python, each with its unique strengths and weaknesses. Dictionaries excel in scenarios requiring fast lookups, key-value associations, and complex data mappings, while lists are ideal for ordered collections, sequential processing, and simple data storage.

Q.12. Describe a scenario where using a tuple would be preferable over a list ?

Answer : Tuples are immutable. Hence, they are primarily used to store data that doesn't change frequently. Any operation can store data in a tuple when you don't want it to change. Tuples are great to use if you want the data in your collection to be read-only, never to change, and always remain the same and constant.

Q.13. How do sets handle duplicate values in Python ?

Answer: In Python, sets are designed to store only unique elements. When you attempt to add a duplicate value to a set, it does not raise an error, but it simply ignores the duplicate, ensuring that the set retains only one instance of each distinct element. This behavior is inherent to the nature of sets as unordered collections of unique items.

When creating a set from an iterable that contains duplicates, the set automatically removes them. For example:

my_list = [1, 2, 2, 3, 4, 4, 5]

my_set = set(my_list)

print(my_set)  # Output: {1, 2, 3, 4, 5}

In this example, the resulting set my_set contains only the unique elements from my_list, with the duplicate 2s and 4s removed. This feature makes sets a convenient tool for eliminating duplicates from other data structures like lists or tuples.

Q.14. How does the “in” keyword work differently for lists and dictionaries ?

Answer - The "in" keyword in Python is used to check for membership within a sequence or collection. While its fundamental purpose remains the same – to determine if an element is present – its behavior differs slightly between lists and dictionaries due to their underlying data structures and how they store and retrieve information.


Here's a breakdown of how "in" works for lists and dictionaries:

(A) "in" for Lists:

* When we  use "in" with a list, Python checks if the specified element exists as one of the values within the list. It performs a sequential search, iterating through each item in the list until it finds a match or reaches the end.

(B) "in" for Dictionaries:

* When you use "in" with a dictionary, Python checks if the specified element exists as one of the keys within the dictionary. It does not directly check for values.

Q.15. Can you modify the elements of a tuple? Explain why or why not .

Answewr: No, you cannot directly modify the elements of a tuple after it has been created. Tuples are immutable data structures, meaning their contents cannot be changed, added to, or removed from once they are defined. This immutability ensures that the data within a tuple remains consistent and predictable throughout its lifetime.

Explanation:

* Immutability: Tuples are designed to be immutable, which is a fundamental characteristic.

* No built-in modification methods: Unlike lists, tuples do not have built-in methods for modifying their contents, such as append(), insert(), or remove().

* Trying to modify a tuple results in an error: Attempting to change an element of a tuple will raise a TypeError.

Why Tuples are Immutable:

* Consistency and Predictability:
Immutability ensures that the values within a tuple remain consistent, making them reliable for situations where data integrity is crucial.

* Efficiency:
Since tuples are immutable, their memory addresses remain constant, allowing for efficient access and iteration.

* Use Cases:
Tuples are well-suited for applications like representing fixed sets of data, such as coordinates, records, or keys in dictionaries.

Q.16. What is a nested dictionary, and give an example of its use case ?

Answer: A nested dictionary in Python is a dictionary where the values are themselves dictionaries. This allows you to create hierarchical or multi-level data structures, where each dictionary can contain other dictionaries as its values.

Example:

 #Outer dictionary

employees = {
    "department1": {
        "employee1": {"name": "Alice", "position": "Software Engineer"},
        "employee2": {"name": "Bob", "position": "Data Analyst"}
    },
    "department2": {
        "employee3": {"name": "Charlie", "position": "Project Manager"},
        "employee4": {"name": "David", "position": "UI/UX Designer"}
    }
}

 #Accessing nested values:

print(employees["department1"]["employee1"]["name"]) # Output: Alice
print(employees["department2"]["employee3"]["position"]) # Output: project manager

* In this example:

employees is the outer dictionary.

The values of employees (department1, department2) are also dictionaries.

Each of those inner dictionaries contains dictionaries as values (employee1, employee2, etc.), representing employee information.

We can access specific information (like an employee's name or position) by chaining the keys: employees[department][employee][attribute].

Q.17. Describe the time complexity of accessing elements in a dictionary ?

Answer: Accessing an element in a dictionary typically has an average time complexity of O(1), meaning it takes constant time regardless of the dictionary's size. This is due to the use of a hash table, which allows for direct lookup of elements based on their key. In the worst-case scenario, where a hash function causes many collisions, the time complexity can degrade to O(n), where n is the number of elements in the dictionary.

Here's a more detailed explanation:

- O(1) - Average Case:
Dictionaries use a hash table, which is an array-like structure that uses a hash function to map keys to specific indices (or "buckets") within the array. When accessing an element, the dictionary calculates the hash value for the key and uses it to directly locate the corresponding value in the hash table. This direct access is what gives dictionaries their constant time lookup performance.

- O(n) - Worst Case:
In the worst-case scenario, a hash function might map multiple keys to the same bucket, leading to collisions. When a collision occurs, the dictionary needs to search within that bucket (which could be implemented as a linked list or other data structure) to find the desired value. If there are many collisions, this search can become linear, resulting in an O(n) time complexity.

- Practical Considerations:
While the worst-case O(n) complexity is theoretically possible, it is uncommon in practice with good hash functions and well-designed dictionaries.

- Key-Based Access:
Dictionaries are designed for fast access of elements based on their keys, making them ideal for situations where you need to retrieve a value associated with a specific key quickly.

Q.18. In what situations are lists preferred over dictionaries ?

Answer: For quick data look-ups, configurations, or caches, favor dictionaries. For ordered collections and sequence operations, such as maintaining a stack or queue, lists are more suitable.

Q.19. Why are dictionaries considered unordered, and how does that affect data retrieval ?

Answer: Why dictionaries are unordered collection: Dictionary is a data structure which is a important value structure, optimized for fast storage and recovery based on key. In python, dictionaries are un-ordered because Python dictionaries are not intended to be in order, as simple as that.

How does this affect data retrieval now?

Insertion order is preserved: When you iterate through a dictionary's keys, values, or items, they will always appear in the order they were added.

Predictable iteration: This makes iterating over dictionaries much more predictable and useful for maintaining specific sequences of data.

Still not "ordered" in the list sense: While insertion order is preserved, dictionaries are not ordered in the same way lists are.

You cannot access elements by integer index (e.g., my_dict[0] will raise a KeyError unless 0 is an actual key).

You cannot slice a dictionary like my_dict[1:3].

The concept of "sorted order" (alphabetical keys, numerical values) still requires explicit sorting (e.g., sorted(my_dict.items())). The insertion order is simply the order of addition, not necessarily a sorted order.

Q.20. Explain the difference between a list and a dictionary in terms of data retrieval.

Answer: In terms of data retrieval, lists are accessed by index, while dictionaries are accessed by key. This means that to retrieve a specific element from a list, you use its numerical position (starting from 0), whereas for a dictionary, you use the associated key to find the corresponding value.

Here's a more detailed explanation:

* Lists:
* Lists are ordered sequences of elements, where each element has a specific position or index.

* Elements are accessed using their index, starting from 0 for the first element, 1 for the second, and so on.

* For example, to retrieve the 3rd element of a list, you would use the index 2.
* Dictionaries:
* Dictionaries are collections of key-value pairs, where each key must be unique.
*Elements (values) are accessed by their corresponding keys.
Keys can be of various data types, not just integers like in lists.

* For example, to retrieve the value associated with the key "name", you would use the key "name".

# Practical

Q.1.Write a code to create a string with your name and print it .

In [ ]:
my_name = "Soheb"
print(my_name)

Soheb

Q.2. Write a code to find the length of the string "Hello World".

In [ ]:
string = "hello world"
length = len(string)
print(length)

11

Q.3.Write a code to slice the first 3 characters from the string "Python Programming".

In [ ]:
string = "Python Programming"
sliced_string = string[:3]
print(sliced_string)

Pyt

Q.4. Write a code to convert the string "hello" to uppercase .

In [1]:
original_string = "hello"
uppercase_string = original_string.upper()
print(uppercase_string)

HELLO

Q.5. Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [2]:
original_string = "I like apple"
word_to_replace = "apple"
replacement_word = "orange"
new_string = original_string.replace(word_to_replace, replacement_word)
print(f"Original string: {original_string}")
print(f"New string: {new_string}")

Original string: I like apple
New string: I like orange

Q.6. Write a code to create a list with numbers 1 to 5 and print it .

In [4]:
my_list = [1,2,3,4,5]
print(my_list)
print("\nPrinting each element in the list:")
for number in my_list:
    print(number)

[1, 2, 3, 4, 5]

Printing each element in the list:
1
2
3
4
5

Q.7. Write a code to append the number 10 to the list [1, 2, 3, 4].

In [5]:
my_list = [1,2,3,4]
print(f"Original list: {my_list}")
my_list.append(10)
print(f"List after appending 10: {my_list}")

Original list: [1, 2, 3, 4]
List after appending 10: [1, 2, 3, 4, 10]

Q.8.Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [6]:
my_list = [1,2,3,4]
print(f"Original list: {my_list}")
my_list.remove(3)
print(f"List after removing 3: {my_list}")

Original list: [1, 2, 3, 4]
List after removing 3: [1, 2, 4]

Q.9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

In [8]:
my_list = ['a', 'b', 'c', 'd']
print(f"Original list: {my_list}")
second_element = my_list[1]
print(f"The second element of the list is: {second_element}")

Original list: ['a', 'b', 'c', 'd']
The second element of the list is: b

Q.10. Write a code to reverse the list [10, 20, 30, 40, 50].

In [10]:
my_list = [10, 20, 30, 40, 50]
print(f"Original list: {my_list}")
my_list.reverse()
print(f"List after in-place reversal (using .reverse()): {my_list}")

Original list: [10, 20, 30, 40, 50]
List after in-place reversal (using .reverse()): [50, 40, 30, 20, 10]

Q.11. Write a code to create a tuple with the elements 100, 200, 300 and print it .

In [11]:
my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

Q.12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [12]:
my_tuple = ('red', 'green', 'blue', 'yellow')
print(f"Original tuple: {my_tuple}")
second_to_last_element = my_tuple[-2]
print(f"The second-to-last element of the tuple is: {second_to_last_element}")

Original tuple: ('red', 'green', 'blue', 'yellow')
The second-to-last element of the tuple is: blue

Q.13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [13]:
my_numbers_tuple = (10, 20, 5, 15)
print(f"Original tuple: {my_numbers_tuple}")
minimum_number = min(my_numbers_tuple)
print(f"The minimum number in the tuple is: {minimum_number}")

Original tuple: (10, 20, 5, 15)
The minimum number in the tuple is: 5

Q.14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [14]:
my_animals_tuple = ('dog', 'cat', 'rabbit')
print(f"Original tuple: {my_animals_tuple}")
element_to_find = 'cat'
try:
    index_of_cat = my_animals_tuple.index(element_to_find)
    print(f"The element '{element_to_find}' is found at index: {index_of_cat}")
except ValueError:
    print(f"The element '{element_to_find}' was not found in the tuple.")

Original tuple: ('dog', 'cat', 'rabbit')
The element 'cat' is found at index: 1

Q.15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [16]:
my_fruits_tuple = ('apple', 'banana', 'orange')
print(f"Original tuple: {my_fruits_tuple}")
element_to_check = 'kiwi'
if element_to_check in my_fruits_tuple:
    print(f"The element '{element_to_check}' is in the tuple.")
    index_of_kiwi = my_fruits_tuple.index(element_to_check)
    print(f"The element '{element_to_check}' is found at index: {index_of_kiwi}")
else:
    print(f"The element '{element_to_check}' was not found in the tuple.")

Original tuple: ('apple', 'banana', 'orange')
The element 'kiwi' was not found in the tuple.

Q.16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [18]:
my_set = {'a', 'b', 'c'}
print(my_set)

{'a', 'c', 'b'}

Q.17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [19]:
my_set = {1, 2, 3, 4, 5}
print(f"Original set: {my_set}")
my_set.clear()
print(f"Set after clearing all elements: {my_set}")
#

Original set: {1, 2, 3, 4, 5}
Set after clearing all elements: set()

Q.18.Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [21]:
my_set = {1, 2, 3, 4}
print(f"Original set: {my_set}")
element_to_remove = 4
my_set.remove(element_to_remove)
print(f"Set after removing element {element_to_remove}: {my_set}")

Original set: {1, 2, 3, 4}
Set after removing element 4: {1, 2, 3}

Q.19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [22]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print(f"Set 1: {set1}")
print(f"Set 2: {set2}")
print(f"Union of Set 1 and Set 2: {union_set}")

Set 1: {1, 2, 3}
Set 2: {3, 4, 5}
Union of Set 1 and Set 2: {1, 2, 3, 4, 5}

Q.20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [23]:
set1 = {1,2,3}
set2 = {2,3,4}
intersection_set = set1.intersection(set2)
print(f"Set 1: {set1}")
print(f"Set 2: {set2}")
print(f"Intersection of Set 1 and Set 2: {intersection_set}")
#

Set 1: {1, 2, 3}
Set 2: {2, 3, 4}
Intersection of Set 1 and Set 2: {2, 3}

Q.21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [24]:
my_dictionary = {
    "name": "Soheb",
    "age": 25,
    "city": "Bhadrak"
}
print(f"The created dictionary is: {my_dictionary}")

The created dictionary is: {'name': 'Soheb', 'age': 25, 'city': 'Bhadrak'}

Q.22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [25]:
my_dictionary = {
    'name': 'John',
    'age': 25
}
print(f"Original dictionary: {my_dictionary}")
my_dictionary["country"] = "USA"
print(f"Dictionary after adding 'country': 'USA': {my_dictionary}")

Original dictionary: {'name': 'John', 'age': 25}
Dictionary after adding 'country': 'USA': {'name': 'John', 'age': 25, 'country': 'USA'}

Q.23.  Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [26]:
my_dictionary = {
    'name': 'Alice',
    'age': 30
}
print(f"Original dictionary: {my_dictionary}")
name_value = my_dictionary['name']
print(f"The value associated with the key 'name' is: {name_value}")
#

Original dictionary: {'name': 'Alice', 'age': 30}
The value associated with the key 'name' is: Alice

Q.24.Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [27]:
my_dictionary = {
    'name': 'Bob',
    'age': 22,
    'city': 'New York'
}
print(f"Original dictionary: {my_dictionary}")
my_dictionary.pop('age')
print(f"Dictionary after removing the key 'age': {my_dictionary}")
#

Original dictionary: {'name': 'Bob', 'age': 22, 'city': 'New York'}
Dictionary after removing the key 'age': {'name': 'Bob', 'city': 'New York'}

Q.25.  Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [28]:
my_dictionary = {
    'name': 'Alice',
    'city': 'Paris'
}
print(f"Original dictionary: {my_dictionary}")
key_to_check = 'city'
if key_to_check in my_dictionary:
    print(f"The key '{key_to_check}' exists in the dictionary.")

Original dictionary: {'name': 'Alice', 'city': 'Paris'}
The key 'city' exists in the dictionary.

Q.26. Write a code to create a list, a tuple, and a dictionary, and print them all.

In [29]:
my_list = [1, 2, 3, 4, 5]
my_tuple = (10, 20, 30, 40, 50)
my_dictionary = {
    'name': 'John',
    'age': 25,
    'city': 'New York'
}
print(f"List: {my_list}")
print(f"Tuple: {my_tuple}")
print(f"Dictionary: {my_dictionary}")
#

List: [1, 2, 3, 4, 5]
Tuple: (10, 20, 30, 40, 50)
Dictionary: {'name': 'John', 'age': 25, 'city': 'New York'}

Q.27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.

In [30]:
import random
random_numbers = [random.randint(1, 100) for _ in range(5)]
print(f"Original list of random numbers: {random_numbers}")
random_numbers.sort()
print(f"List after sorting in ascending order: {random_numbers}")
#

Original list of random numbers: [99, 64, 16, 67, 23]
List after sorting in ascending order: [16, 23, 64, 67, 99]

Q.28.  Write a code to create a list with strings and print the element at the third index.

In [31]:
my_list = ['apple', 'banana', 'cherry', 'date', 'elderberry']
print(f"Original list: {my_list}")
third_element = my_list[2]
print(f"The element at index 2 (third element) is: {third_element}")

Original list: ['apple', 'banana', 'cherry', 'date', 'elderberry']
The element at index 2 (third element) is: cherry

Q.29. Write a code to combine two dictionaries into one and print the result.

In [32]:
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}
combined_dict = {**dict1, **dict2}
print(f"Dictionary 1: {dict1}")
print(f"Dictionary 2: {dict2}")
print(f"Combined dictionary: {combined_dict}")
#

Dictionary 1: {'a': 1, 'b': 2}
Dictionary 2: {'c': 3, 'd': 4}
Combined dictionary: {'a': 1, 'b': 2, 'c': 3, 'd': 4}

Q.30  Write a code to convert a list of strings into a set.

In [33]:
my_string_list = ['apple', 'banana', 'cherry', 'date', 'elderberry']
my_string_set = set(my_string_list)
print(f"Original list of strings: {my_string_list}")
print(f"Converted set of strings: {my_string_set}")
#

Original list of strings: ['apple', 'banana', 'cherry', 'date', 'elderberry']
Converted set of strings: {'apple', 'date', 'elderberry', 'cherry', 'banana'}